body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

span{
  color: #D4AF37
}




.img-test {
  width: 500px;
  height: 500px;
  background-image: url("IMAGES/G4.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateX(-40%);
  margin-top: -200px;

  transition: all 0.5s ease-in 1s;
  -webkit-transition: all 0.5s ease-in 1s;
  -moz-transition: all 0.5s ease-in 1s;
  -o-transition: all 0.5s ease-in 1s;
}
